body {
    margin: 0;
}

.root {
    display: flex;
    min-height: 100vh;
    flex-direction: column;

}

.header {
    display: flex;
    position: fixed;
    width: 100%;
    background-color: #58595b;
    justify-content: space-between;
    color: white;
    align-items: center;
    z-index: 1;
    transition: 2s;
}

.header .title {
    color: white;
    font-weight: bold;
    font-size: 2rem;
    margin: 2rem;
}

.header a {
    text-decoration: none;
    color: white;
}

.navigation {
    display: flex;
    background-color: green;
    justify-content: center;
}

button:hover {
    background-color: red;
}

.Nav {
    font-size: 1.5rem;
    font-family: sans-serif;
    font-weight: bold;
    display: flex;
    flex-wrap: wrap;
    text-transform: uppercase;
}

.Nav a {
    color: white;
    text-decoration: none;
    background-color: rgba(255, 255, 255, 0.15);
    margin: 5px;
    border-radius: 5px;
    padding: 5px;
}

.Nav a:hover {
    background: dodgerblue;

}

.Footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgb(156, 149, 142);
}

.footer-1,
.footer-2,
.footer-3 {
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid rgb(8, 8, 8);
    padding: 3px;
}

.slider {
    min-height: 80vh;
    position: relative;
    display: flex;
    z-index: -1;
    transition: 2s;
}

.slider img {
    position: absolute;
    top: 0;
    right: 0;
    width: 100vw;
    height: 80vh;
    object-fit: cover;
    opacity: 0;
    transition: opacity 1s ease-in-out;

}